<style>
  body{
    font-family: sans-serif;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
</style>


<h3>Hi <%= @user.email %>,</h3>

<p>Nice to meet you, hope you enjoy the heroes !</p>

<p>Thanks for testing my app !</p>

<div class="logo">
  <%= image_tag(attachments['superhero.svg'].url) %>
  <p>All heroes!</p>
</div>
<br>

<%= link_to "Go to website AllHeroes", root_url  %>
