<style>
  body{
    font-family: sans-serif;
  }
</style>


<h3>Hi <%= @user.email %>,</h3>

<p>Nice to meet you, hope you enjoy the heroes !</p>

<%= image_tag "superhero.svg" %><p>All heroes!</p>

<%= link_to "Get back to the website", root_url  %>
