<style>
  body{
    font-family: sans-serif;
  }
</style>

<h3>Hi <%= @user.email %>,</h3>

<p>Nice to meet you, hope you enjoy the service !</p>

<p>Today we'll talk about SMTP and Postmark!</p>

<p>See ya!</p>

<%= link_to "Get back to the website", root_url  %>
