
<% if current_page?(root_path) %>
<% else %>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:spalkes04@gmail.com"><i class="far fa-envelope"></i></a>
    </div>
    <div class="footer-copyright">
      <i class="fas fa-heart"></i> by PJ
    </div>
  </div>
<% end %>
