  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(/assets/home.jpg);">
  <div class="container text-right">
    <h1 id="title"> All Heroes !</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div id="home-search">
      <div id="cover">
        <form class="d-flex">
          <%= form_with url: heroes_path, method: "GET", local: true do |f| %>
            <button type="submit">
              <%= image_tag "strong.svg", id: "search" %>
            </button>
              <%= f.text_field :name, id: "HeroName", placeholder: "Search by name" %>
<!--               <%= f.submit "" %> -->

        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
