// Form for registration or sign up

.form {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 15px 35px rgba(126,87,88,0.1),0 5px 15px rgba(0,0,0,0.07);
  padding: 10px 20px;
  margin-top: 30px;
  h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }
  .btn {
    width: 100%;
    height: 40px;
    // margin-bottom:10px
  }
}

.form-inputs{
  width: 320px;
  label {
    font-size: 14px;
  }
  a {
   font-size: 14px;
  }
}

.form-actions {
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;

}

.form-group {
  margin-bottom: 0!important;
}

.input-group-addon {
  padding: 7.5px 11px;
  font-size: 14px;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  border-right: 0;
}

.line {
    border-bottom: 1px solid #e3e6eb;
}

.line > * {
    position: relative;
    top: 10px;
    padding: 0 20px;
    color: #9397a0;
    text-transform: none;
    font-size: 1.1667em;
    background: white;
}



//Form for new heroe

.form-hero{
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
}

.form-hero input{
  margin: 20px 0;
}

.fa-cloud-upload-alt {
  font-size: 20px;
}

.photos-hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

.photos-hero > input
{
  display: none;
}

.photos-hero > label
{
  display: table-caption;
}


.background-filter::before {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  border-radius: 25px 25px 25px 25px;
}

.background-filter{
  position: relative;
}

.background
{
  background-image: linear-gradient(black, black),url(asset_path('2.jpg'));
  background-size: cover;
  background-blend-mode: saturation;
  border-radius: 10px;
  background-position: center;
}

.photos-hero img:first-child
{
  width: 316px!important;
  height: 316px!important;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.photos-hero img:nth-child(1n)
{
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

#file-upload {
  display: none;
}




//variables
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$github: black;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 10px;
$font-size: 25px;

/*common link styles !!!YOU NEED THEM*/
.effect {
  /*display: flex; !!!uncomment this line !!!*/

  a {
    text-decoration: none !important;
    color: $basic-light-color;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    // margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;

    i {
      position: relative;
      z-index: 3;
    }

    &.fb {
      background-color: $fb-color;
    }

    &.github {
      background-color: $github;
    }

    &.tw {
      background-color: $tw-color;
    }

    &.g-plus {
      background-color: $g-plus;
    }

    &.dribbble {
      background-color: $dribbble;
    }

    &.pinterest {
      background-color: $pinterest;
    }

    &.insta {
      background-color: $insta;
    }

    &.in {
      background-color: $in;
    }

    &.vimeo {
      background-color: $vimeo;
    }
  }
}

/* claudio effect */

.effect.claudio {
  display: flex;
  justify-content: space-evenly;

  a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;

    &:hover {
      transform: scale(1.2);
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
}

