
<div class="container" , style="margin-top: 74px;">
  <%= simple_form_for [ @heroe, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your heroe" %>
    <%= f.submit "Send your review", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
